@page "/genre/create"
@inject IGenreRepository genreRepository
@inject NavigationManager navigationManager

<h3>Create Genre</h3>

<GenreForm Genre="genre" OnValidSubmit="Create" />



@code {
     Online genre = new Online();

    private async Task Create()
    {
        Console.WriteLine("Create Method");
        Console.WriteLine(genre.Name);
        try
        {
            await genreRepository.CreateGenre(genre);
            navigationManager.NavigateTo("genres");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
